:root {
  background-image: url(img/634361.jpg);
  font-size: 62.5%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 0;
  display: block;
  background-color: pink;
}
.mainHeader {
  font-family: 'Tangerine', cursive;
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
  background-image: url(img/light-gold-glitter-bg-2.gif);
  background-size: 60rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px #be8e43;
}
.subHeader {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  font-weight: 800;
  background-image: url(img/light-gold-glitter-bg-2.gif);
  background-size: 60rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px #be8e43;
}
.mainContainer{
  border-radius: 30px;
  position: relative;
  height: 500px;
  margin-top: 20px;
  margin: 20px;
  background-color: rgb(253, 239, 237);
  overflow: hidden;
}
.btn {
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: mediumaquamarine;
	color: #fff;
	border: 0px;
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
  margin-bottom: 20px;
  outline: none;
  border: none;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0px 0px 30px 10px aquamarine;
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
.btns {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startBtn {
  margin-bottom: 5rem;
}
.thankYou {
  text-align: center;
  background-image: url(img/light-gold-glitter-bg-2.gif);
  background-size: 60rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  text-transform: uppercase; 
  font-weight: 800; 
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.thankYouContainer{
  border-radius: 30px;
  position: relative;
  height: 500px;
  margin-top: 20px;
  margin: 20px;
  background-color: rgb(253, 239, 237);
}
@media only screen and (max-width: 500px) {
  .mainHeader {
    font-size: 6rem;
  }
  .subHeader {
    font-size: 4rem;
  }
  .mainContainer {
   height: 375px;
   padding-left: 1rem;
   padding-right: 1rem;
  }
}
@media only screen and (min-width: 400px) {
  .backgroundImage {
    height: 200px;
  }
.subHeader {
    padding: 0;
}
}
@media only screen and (min-width: 1000px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    box-shadow: 0 0 0 20px pink;
    height: 90vh;
    max-height: 85rem;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
  }
  .mainContainer{
    height: 50vh;
  }
}
@media only screen and (max-height: 500px) {
  body {
      overflow: scroll;
  }
  .container {
      overflow: scroll;
  }
  .mainContainer {
      overflow: scroll;
  }
}

